body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e4ff;
}

body {
  scrollbar-color: #220b4e #e8e4ff;
  scrollbar-width: thin; 
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #220b4e;
}

body::-webkit-scrollbar-track {
  background-color: #e8e4ff; 
}

@font-face {
  font-family: 'roboto';
  src: url('./assets/fuente/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'robotoBold';
  src: url('./assets/fuente/Roboto-Bold.ttf') format('truetype');
}